.nav
  width: 14%
  border-right: 3px solid #0000fe
  ul
    li
      list-style-type: none
      padding: 7px 0
      a
        color: #2b81af
        text-decoration: none
      a.activeLink
        color: gold