.nav
    border-right: 3px solid #0000fe
    grid-area: nav
    ul
        li
            padding: 7px 0
            list-style-type: none
            a
                text-decoration: none
                color: #2b81af
            a.activeLink
                color: gold